<mat-form-field>
  <input matInput #ticketInput placeholder="Ticket Description">
</mat-form-field>
<button mat-button (click)="newTicket(ticketInput)">New Ticket</button>


<div class="filter-row">
  <mat-form-field class="filter-row">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z0">


  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.id}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.description}} </td>
  </ng-container>

  <ng-container matColumnDef="assigneeName">
    <th mat-header-cell *matHeaderCellDef> Assignee </th>
    <td mat-cell *matCellDef="let ticket">
      <mat-form-field>
        <mat-select [value]="ticket.user.id"
                    (selectionChange)="assignUser($event, ticket)">
          <mat-option *ngFor="let user of (users$ | async)"
                      [value]="user.id">{{user.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="completed">
    <th mat-header-cell *matHeaderCellDef> Completed </th>
    <td mat-cell *matCellDef="let ticket">
      <mat-form-field>
        <mat-select [value]="ticket.completed"
                    (selectionChange)="completeTicket($event, ticket)">
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="view">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let ticket"><a [routerLink]='ticket.id'>View</a></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
